<!DOCTYPE html>
<html>
<head>
	<title>Bank of America Loan Portal</title>
</head>

<body>
	<br/>
	<br/>
	<br/>
	<br/>
	<h1>Loan Documents</h1>
	<h2>Please upload the documents needed to process your loan application.</h2>

	<% if !flash[:notice].blank? %>
		<div class = "alert alert-info">
			<%= flash[:notice] %>
		</div>
	<% end %>

	<br />

	<table class = "table table-bordered table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Download Link</th>
				<th> </th>
			</tr>
		</thead>

		<tbody>
			<% @folderItems.each do |item| %>
				<tr>
					<td><%= item.name %></td>
					<td><%= link_to "Download Document", documents_download_path(@item, :type=> item), method: :get %></td>
					<td><%= button_to "Delete", documents_destroy_path(@item, :type=> item), method: :delete %></td>		
				</tr>
			<% end %>
		</tbody>
	</table>

	<div class="center">
		<%= link_to "Add Document", new_document_path, class: "btn btn-primary" %>
	</div>
</body>
</html>