<!DOCTYPE html>
<html>
<head>
	<title>Upload Document</title>
</head>
<body>
	<h3>Upload Tool</h3>
	<h2>Accepted file formats (.pdf, .doc, .htm, .html, .docx, .zip)</h2>

	<% if !@document.errors.empty? %>
	<div class = "alert alert-error">
		<ul>
			<% @document.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div class = "well" align="center">
		<%= form_for @document, html: { multipart: true } do |f| %>
		<%= f.label "Attach File" %>
		<%= f.file_field :attachment %>
		<br/>
		<%= f.submit "Upload", class: "btn btn-primary" %>
		<%= link_to "Cancel", documents_index_path, class: "btn btn-primary" %>
	<% end %>
</div>
</body>
</html>